<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" id="update" style="margin-top: 2rem">
      <h5 style="text-align: center">Create Player Form</h5>
      <input
        type="text"
        id="id"
        value="<%= player._id %>"
        style="display: none"
      />
      <div class="input-field">
        <input
          id="name"
          type="text"
          class="validate"
          value="<%= player.name %>"
          name="name"
          required
          placeholder="name"
        />
      </div>
      <div class="input-field">
        <select>
          <% for (value of options) { %>
          <!-- <option value="<%= value.name %>"<%= player.position === value.name ? "selected" : "" %> ><%= value.name %></option> -->

          <option value="<%= value.name %>"><%= value.name %></option>

          <% } %>
        </select>
        <label>Position</label>
      </div>
      <div class="input-field">
        <input
          id="image"
          type="text"
          class="validate"
          name="image"
          required
          value="<%= player.image %>"
          placeholder="image"
        />
      </div>
      <div class="input-field">
        <input
          id="club"
          type="text"
          class="validate"
          name="club"
          required
          placeholder="club"
          value="<%= player.club %>"
        />
      </div>
      <div class="input-field">
        <input
          id="goals"
          type="number"
          class="validate"
          name="goals"
          required
          placeholder="goals"
          value="<%= player.goals %>"
        />
      </div>
      <p>
        <label>
          <input type="checkbox" class="filled-in" <%= player.isCaptain ? "checked" : "" %> />

          <span>Captain</span>
        </label>
      </p>
      <div style="display: flex; align-items: center; justify-content: end">
        <button class="btn modal-close waves-effect waves-light" type="submit">
          Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
    <script>
      $("select").formSelect();
      $("#update").submit(() => {
        event.preventDefault();
        var id = $("#id").val();
        var name = $("#name").val();
        var position = $("select").val();
        var image = $("#image").val();
        var club = $("#club").val();
        var goals = $("#goals").val();
        var isCaptain = $("input[type='checkbox']").is(":checked");
        console.log(id)
        if (position.length === 0 || goals < 0) {
          alert("Position must be choose or goals must more than or equals 0");
        } else {
          $.ajax({
            url: "/view/player/update",
            method: "POST",
            data: { id, name, position, image, club, goals, isCaptain },
            success: (data) => {
              console.log(data);
              $("#main").html(data);
            },
            error: (data) => {
              alert("Player's name is exists");
            }
          });
        }
      });
    </script>
  </body>
</html>
